<!DOCTYPE html>


<head>

    Sou o cabeçalho roludo seu amiguinho!

</head>



<html>

    <body>

        <header>

            <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom mb-3">

                <div class="container">

                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AppModel</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" 
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

                        <span class="navbar-toggler-icon"></span>

                    </button>

                    @RenderBody()

                </div>





            </nav>


        </header>
        
    </body>

</html>

<footer>

    Sou o pé com frieira!

</footer>
